html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --dark-text-color: #212121;
  --medium-text-color: #757575;
  --light-text-color: #ffffff;
  --accent-color: #2196f3;
  --light-background-color: #f5f5f5;
  --main-font: "Roboto", sans-serif;
}

body {
  background-color: var(--light-text-color);
  color: var(--medium-text-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border: 1px solid #ececec;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.logo-firstpart {
  color: var(--accent-color);
}

.logo-secondpart {
  color: #000000;
}

ul.site-nav {
  display: flex;
  margin: 0;
}

.site-nav .link {
  color: var(--dark-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding: 8px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus,
.footer .link:focus,
.footer .link:hover {
  color: var(--accent-color);
}

ul.auth-nav {
  display: flex;
}

.auth-nav .link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.hero {
  color: var(--light-text-color);
  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--light-text-color);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 216px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #2f303a;
}
/* .hero.button:hover,
.hero.button:focus {
    background-color: #......; Чекаю на скріншот, де в макеті подивитися
} */

.advantages {
  font-size: 14px;
}

ul.advantages-list {
  display: flex;
  gap: 30px;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages p {
  line-height: 1.71;
  max-width: 270px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}

.title {
  color: var(--dark-text-color);
  margin-bottom: 50px;
  text-align: center;
}

/* .align-center {
  text-align: center;
} */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-wrapper img {
  margin: 0;
}

.portfolio-wrapper {
  display: flex;
  gap: 30px;
  padding: 0;
}

.team {
  line-height: 1.19;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-member {
  background-color: var(--light-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
}

.portfolio {
  background-color: var(--light-background-color);
}

.portfolio .button {
  font-family: Roboto, sans-serif;
}

.portfolio h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio p {
  line-height: 1.88;
  color: var(--medium-text-color);
}

.logo-white-secondpart {
  color: var(--light-text-color);
}

.footer {
  background-color: #2f303a;
}

.footer .address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.map-link {
  color: var(--light-text-color);
}
.footer .address-link {
  color: rgba(255, 255, 255, 0.6);
}

/* buttons */
.button {
  color: var(--dark-text-color);
  background-color: var(--light-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button.primary {
  color: var(--light-text-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--dark-text-color);
  background-color: #f5f4fa;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--light-text-color);
  background-color: var(--accent-color);
}
